<!DOCTYPE html>
<html>
<head>
    <title>Donor Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/izitoast/css/iziToast.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='donor_dashboard/assets/css/login.css') }}">
</head>
<body>
<h1>Donor Login</h1>
<form method="POST" action="{{ url_for('donor.login') }}" onsubmit="return validateForm()">
    {{ form.hidden_tag() }}
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Password">
    </div>
    <div>
        <input type="submit" value="Login">
    </div>
</form>
<p>Register as Donor <a href="{{ url_for('donor.register') }}">Register here</a>.</p>
<p>Forgot your password? <a href="{{ url_for('donor.forget_password') }}">Reset password</a>.</p>
<script type="text/javascript" src="{{ url_for('static', filename='donor_dashboard/assets/js/login.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='plugins/izitoast/js/iziToast.min.js') }}"></script>
</body>
</html>