<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Blood</title>
</head>
<body>
 <form method="POST" action="{{ url_for('donor.blood_request') }}" onsubmit="return validateForm()" class="mt-4">
        {{ form.hidden_tag() }}
<div class="mb-3">
            <label for="">Username:</label>
        <label for="username">{{ donor.name }}</label>
        </div>
        <div class="col-md-4">
                    <label for="group">Blood Group:</label>
                    <select class="form-control" id="group" name="group" required data-value="{{ form.group.data }}">
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                    </select>
                </div>
        <div class="mb-3">
            <input type="submit" value="Request">
        </div>

</body>
</html>